// Imports
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

// Colours
$purple: #7935af;
$blue: #4277ad;
$grey: #aaa;
$green: #4c9457;
$amber: #a26a09;
$red: #9b2121;

// Fonts
$font-opensans: 'open sans', Helvetica, Arial, sans-serif;

@keyframes bgSway {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 50%;
    }
    100% {
        background-position: 0%;
    }
}

// Mixins
@mixin grad($start, $end) {
    background-image: linear-gradient(120deg, $start 0%, $start 5%, $end 85%, $end 95%);
    background-position: center;
    background-size: 200%;
    animation: bgSway 5s ease-in-out infinite;
}

@mixin icon($colour, $svg) {
    mask-image: url($svg);
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: $colour;
}
